/* .user-preferences {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }

  .user-preferences h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .user-preferences form {
    display: flex;
    flex-direction: column;
  }
  
  .user-preferences label {
    margin-bottom: 5px;
  }
  
  .user-preferences input[type="checkbox"] {
    margin-right: 5px;
  }*/
  
  .save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
  }
  
.save-button:hover {
    background-color: #0056b3;
  }




   .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   }